/* THE WTF CSS CODES */ 


html, body {
	
	height: 100%;
	margin: 0;
	
}

h1 {

    padding-left: 3px;
    font-size: 35px;
    color: white;
    font-family: Algerian;
}

h2 { 

	font-size: 20px;
	margin: 0;
	padding-bottom: 10px; 
	font-family: Broadway;
	color: violet;
	
}

h3 { 
	
	font-size: 25px;
	font-weight: bolder;
	font-family: elephant;

}

h5 {

    padding-left: 3px;
    font-family: Rage Italic;
    color: white;
    font-size: 18px;
    margin: 0;
    padding-bottom: 10px;
    
}
    
a { 

	text-decoration: none;

}

p { 

	font-family: harrington;
	color: white;

}
    
span {
    
    color: orange;
    
}

pre { 

	margin: 0;
	padding-top: 5px;
	padding-bottom: 5px;

}

	/* Main Page */

div#main { 

	background-image: url('../img/wallpaper.png');
	background-repeat: no-repeat;
	width: 1150px;
	margin: auto;

}

div#Mwrapper {

    width: 1145px;
    height: 1115px;
    border: 3px solid #ccc;
    background-image: url('img/');
    -moz-border-radius: 3px; /*--CSS3 Rounded Corners--*/
    -khtml-border-radius: 3px; /*--CSS3 Rounded Corners--*/
    -webkit-border-top: 3px; /*--CSS3 Rounded Corners--*/

}

#Mwrapper h1 span { 

	 width: 200px;
	 font-size: 50px;
	 
}
        
        /* container top */
	
div#containerTWrapper {

    width: 1140px;
    height: 422px;
    border: 3px solid #ccc;
    -moz-border-radius: 3px; /*--CSS3 Rounded Corners--*/
    -khtml-border-radius: 33px; /*--CSS3 Rounded Corners--*/
    -webkit-border-radius: 3px; /*--CSS3 Rounded Corners--*/

}

	/* navigation top */
	
#home { 

	border-left: 2px black outset; 
	background-color: green;

}

#gallery { 

	background-color: blue

}

#packages { 

	background-color: violet;

}

#services { 

	background-color: orange;

}

#accommodation { 

	background-color: yellow;

}

#containerTWrapper p {

    font-size: 13px;
    text-decoration: none;
    text-align: center;
    color: black;
   
}

#containerTWrapper p:hover {

    width: auto;
    filter:alpha(opacity=100); /* For IE8 and earlier */

}

#containerTWrapper a {

    font-family: calibri;
    display: block;
    width: 155px;
	margin-right: 15px;
    float: left;
	opacity: 0.7;
	border-right: 2px gray outset;
	border-left: 2px black outset; 
	margin-bottom: 1px;
	border-radius: 1em 3em;
	
}

#containerTWrapper a:hover {
    
    opacity: 0.7;

}

#dolphin img { 
	margin-left: 970px;
	position: absolute;
	top: 1px;

}

	/* container bottom */

div#containerBWrapper  {

    padding-bottom: 0px;
    margin-top: 30px;
    height: 511px; 
    width: 1147px;
    background-color: ;
    -moz-border-radius: 3px; /*--CSS3 Rounded Corners--*/
    -khtml-border-radius: 3px; /*--CSS3 Rounded Corners--*/
    -webkit-border-top: 3px; /*--CSS3 Rounded Corners--*/

}

#containerB{

	height: 445px;
	width: 1145px;

}

	/* container bottom left */

#contentL {

    float: left;
    margin-top: 1px;
    margin-left: 5px;
    padding: 20px;
    height: 150px;
	width: 730px;
    border: 3px solid #ccc;
	background-color: black;
	opacity: 0.6;
    -moz-border-radius: 3px; /*--CSS3 Rounded Corners--*/
    -khtml-border-radius: 3px; /*--CSS3 Rounded Corners--*/
    -webkit-border-top: 3px; /*--CSS3 Rounded Corners--*/
	
}

#contentL h2 { 

	width: 655px;
	border-bottom: 1px solid #2C4449;

}

#contentL p { 

	font-size: 12px;
	font-family: kalinga;

}

	/* container bottom right */

div#contentR {

    overflow: auto;
    float: left;
    padding: 20px;
    margin-left: 13px;
    width: 300px;
    height: 400px;
    border: 3px solid #ccc;
	background-color: white;
	opacity: 0.9;
    -moz-border-radius: 3px; /*--CSS3 Rounded Corners--*/
    -khtml-border-radius: 3px; /*--CSS3 Rounded Corners--*/
    -webkt-border-top: 3px; /*--CSS3 Rounded Corners--*/
	
}

#contentR h2 { 

	border-bottom: 1px solid #2C4449;

}

#contentR div { 

	margin: 0;
	padding-top: 20px;
	padding-bottom: 40px;
	background: none;
	font-size: 13px;
	font-family: kalinga;
	border-bottom: 1px #314A4F dashed;
	
}

#contentR pre { 

	font-size: 14px; 
	padding-top: 10px; 
	padding-bottom: 10px; 

}

    /* footer  */
    
#footer {
	
	margin-left: -3px;
        margin-right: -3px;
	color: white;
	border-top: 1px solid #333;

	height: 511px;
    	border: 3px solid #ccc;
	
}

#footer p {

    color: #999999;
    display: block;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    padding: 5px 13px 0 0;

}

#footer p a {

    color: #6d0000;
	text-transform: uppercase;
	font-weight: bolder;
	font-size: 10px;
	
}

#footer p a:hover { 

	text-shadow: red;

}

#compdetails {

	font-family: calibri;
	font-size: 13px;
	color: white;
	width: 940px;
	margin: 0 auto;
	padding: 20px;
	height: 340px;

}

#contactform h3 { 

	text-decoration: blink;

}

#contactform form {

	color: white;
	margin: 0;
	padding: 0;
	border: none;
	line-height: normal;
	
}


#contactform label {

	display: inline;
	width: 170px;
	float: left;
	margin: 0 0 12px 0;
	padding: 0;
	
}

#contactform label.margin {

	margin-left:10px;
	
}

#contactform label input, #contactform label textarea {

	display: block;
	width: 162px;
	margin: 5px 0;
	padding: 3px;
	color: #000000;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
	
}

#contactform label textarea {

	display: block;
	width: 342px;
	overflow: auto;
	
}

#contactform p {

	display: block;
	width: 350px;
	margin: 0;
	padding: 0;
	clear: both;
	
}

#contactform p input {

	padding: 5px 10px;
	color: #666666;
	background-color: #F7F7F7;
	border: 1px solid #CCCCCC;
	
}

#contactform {

	display: block;
	float: left;
	padding-left: 20px;
	width: 400px;
	
}

#contactform form fieldset { 

	padding: 10px;

}

#contactform legend {color: white;}

#officialdetails { float:left; margin-left: 100px; }
#officialdetails li.last { margin-bottom:15px; font-weight: integer (900)}

#icons {width: 320px;height: 50px;}

#icons img {

	width: 50px;
	height: 50px;
  	float: left;
	margin-right: 10px;
	border: none;
	
}

.clear { clear: both; }

#copyright {

	font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
	text-align: center;
	height: 50px;
	margin-bottom: 170px;
	
}

	/* bookmark */

#bookmark {
	
	float: left;
	background-color: black;
	width: 189px;
	margin-top: 7px;
	border: 2px #305bc8 solid;
	
} 

#bookmark a { 

	margin: 0;

}

#bookmark img { 

	padding: 5px;

}



    /* Fixed background */
    
div#Fdesign {

	margin-top: 88px;
	background-image: url('../img/bottom3.png');
	background-repeat: no-repeat;
	position: fixed;
	bottom: -49%;
	width: 1370px;
	height: 500px;
	left: 0.1%;
	padding: 0;
	margin: 0;

}


